.recipe-card{
    height: 350px;
}

.recipe-img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 250px;
}

.modal-body{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}